<li class="lg:w-1/4">
  <div
    class="mb-4 mt-2 w-full rounded shadow bg-blue-800 p-4 shadow-lg relative"
  >
    <span
      class="absolute top-0 right-0 mt-2 mr-2 text-red-600 cursor-pointer"
      (click)="deleteList()"
      >&times;</span
    >
    <p class="text-white mb-2">{{ list.listName }}</p>
    <div class="text-right">
      <span class="text-blue-100 text-sm"
        >Added On: <b>{{ list.addedBy.time | date }}</b></span
      >
      <br />
      <span class="text-blue-100 text-sm"
        >by: <b>{{ getUsername(list.addedBy.uid) }}</b></span
      >
    </div>
    <p class="text-blue-200 mb-2">Items</p>
    <ul>
      <li *ngFor="let item of list.items">
        <div class=" mb-2 relative shadow p-4">
          <span
            class="absolute top-0 right-0 mr-4 mt-4 text-red-600 cursor-pointer"
            (click)="deleteItemFromList(item._id)"
            >&times;</span
          >
          <p class="text-white">{{ item.itemName }}</p>
          <small class="text-blue-100 text-xs"
            >By {{ getUsername(item.addedBy.uid) }} on
            {{ item.addedBy.time | date }}</small
          >
        </div>
      </li>
      <li class="mt-4">
        <input
          type="text"
          class="shadow appearance-none border rounded-lg py-2 mb-2 text-gray-900 leading-tight px-4"
          [(ngModel)]="newItemInput"
        />
        <button
          class="bg-blue-900 text-blue-100 py-2 px-4 rounded-lg"
          (click)="addNewItem()"
        >
          Add
        </button>
      </li>
    </ul>
  </div>
</li>
