<div class="container mx-auto mt-4">
  <h1 class="text-center text-blue-100 text-2xl">Welcome to Track Mate</h1>
  <div class="flex bg-blue-800 rounded-lg mt-4">
    <div class="container m-4">
      <p class="text-blue-100 text-sm leading-normal">
        Track Mate is a collaborative tool that helps users create groups with
        to add ideas and thoughts that can be shared with other users.
      </p>
    </div>
    <div *ngIf="!!user; else userNotLoggedIn" class="container m-4">
      <p class="text-blue-100 text-sm leading-normal text-center">
        User Logged In
      </p>
    </div>
    <ng-template #userNotLoggedIn>
      <app-auth></app-auth>
    </ng-template>
  </div>
</div>
