<div class="container mx-auto mt-4">
  <h2 *ngIf="user" class="text-white font-extrabold text-base mt-4">
    Welcome back, {{ user.displayName }}
  </h2>
  <div class="flex rounded-lg mt-4 flex-wrap" *ngIf="user">
    <h3 class="text-blue-light font-thin w-full my-4">Rooms you created</h3>
    <div *ngFor="let room of rooms">
      <div
        *ngIf="room.created.uid === user.uid"
        class="room-container rounded-lg mr-4 shadow-lg"
      >
        <h3 class="text-blue-lightest p-4">{{ room.roomName }}</h3>
        <div class="mx-4 text-right text-blue-lighter">
          <small>
            Created on:
            <span class="font-bold">{{ room.created.time | date }}</span>
          </small>
          <br />
          <small>
            By:
            <span class="font-bold">{{ getUserName(room.created.uid) }}</span>
          </small>
        </div>
        <br />
        <button
          class="go-to-room-button rounded-b-lg bg-blue-darkest w-full text-blue-lighter py-2 text-sm"
        >
          Go to Room
        </button>
      </div>
    </div>
  </div>
</div>
